<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hekiraku.gemini.mapper.ResourceMapper">
    <resultMap id="resourceInfo" type="com.hekiraku.gemini.domain.vo.ResourceVo">

    </resultMap>
    <!--根据resouceId获取资源信息-->
    <select id="selectByResourceId" resultType="com.hekiraku.gemini.domain.vo.ResourceVo">
        select *
        from g_resource gr
        where gr.resource_id = #{resourceId}
        and gr.delete_flag = 0;
    </select>
    <!--生成或更新一条资源信息-->
    <insert id="createOrUpdateResource" parameterType="com.hekiraku.gemini.domain.entity.ResourceEntity">
        insert into g_resource
        (resource_id,resource_code,resource_name,create_user_id,update_user_id)
        values
        (#{resourceId},
        #{resourceCode},
        #{resourceName},
        #{createUserId},
        #{updateUserId})
        ON DUPLICATE KEY UPDATE
        resource_name=#{resourceName},
        update_user_id=#{updateUserId},
        rev=#{rev},
        delete_flag=#{deleteFlag}
    </insert>
    <!--根据roleId联查获取资源信息-->
    <select id="selectByRoleId" resultMap="resourceInfo">
        select gr.*
        from g_resource gr
        left join g_res_role grr on gr.resource_id = grr.resource_id
        where grr.role_id = #{roleId}
    </select>
</mapper>
