<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hekiraku.gemini.mapper.RoleMapper">
    <!--根据roleId获取有效的角色信息-->
    <select id="selectByRoleId">
        select *
        from g_role gr
        where gr.role_id = #{roleId}
        and gr.delete_flag = 0;
    </select>
    <!--生成或更新一条角色信息-->
    <insert id="createOrUpdateRole" parameterType="com.hekiraku.gemini.domain.entity.RoleEntity">
        insert into g_role
        values
        role_id=#{roleId},
        role_code=#{roleCode},
        role_name=#{roleName},
        create_user_id=#{createUserId},
        update_user_id=#{updateUserId}
        ON DUPLICATE KEY UPDATE
        role_name=#{roleName},
        update_user_id=#{updateUserId},
        rev=#{rev},
        delete_flag=#{deleteFlag}
    </insert>
    <!--根据roleCode获取角色信息-->
    <select id="selectByRoleCode" resultType="com.hekiraku.gemini.domain.vo.RoleVo">
        select *
        from g_role gr
        where gr.role_code = #{roleCode}
        and gr.delete_flag = 0;
    </select>
</mapper>
