<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hekiraku.gemini.mapper.TextDetailMapper">
    <resultMap id="textDetailInfo" type="com.hekiraku.gemini.domain.vo.TextDetailVo">
    </resultMap>
    <!--新增/更新一条文章信息-->
    <insert id="createTextDetail" parameterType="com.hekiraku.gemini.domain.entity.TextDetailEntity">
        insert into g_text_detail
        (text_id,text_detail)
        values
        (#{textId},
        #{textDetail})
    </insert>
    <select id="selectByTextId" resultMap="textDetailInfo">
        select *
        from g_text_detail
        where text_id = #{textId}
    </select>
    <update id="updateTextDetail" parameterType="com.hekiraku.gemini.domain.entity.TextDetailEntity">
        update g_text_detail
        set
        text_detail=#{textDetail}
        where
        text_id=#{textId}
    </update>
</mapper>
